body {
    font-size: 1.2em;
}

h2 {
    margin: 1.3em 0 1.3em 0 !important;
}

h3 {
    margin: 1.2em 0 1.2em 0 !important;
}

h4 {
    margin: 1.1em 0 1.1em 0 !important;
}

@media (min-width: 300px) {
    .logo {
        max-width: 150px;
    }
    .page-margin {
    }
}

@media (min-width: 576px) {
    .logo {
        max-width: 200px;
    }
    .page-margin {
        margin: 0 3em 0 3em;
    }
}

@media (min-width: 768px) {
    .logo {
        max-width: 300px;
    }
    .page-margin {
        margin: 0 6em 0 6em;
    }
}

@media (min-width: 992px) {
    .logo {
        max-width: 400px;
    }
    .page-margin {
        margin: 0 8em 0 8em;
    }
}

nav .navbar-nav li a{
    color: #cccccc !important;
}

.nav-link.active {
    font-weight: 900;
    color: #f2f2f2 !important;
}
