body {
  font-family: 'Helvetica', sans-serif !important;
  background: #FCFBFB;
}

.coming-soon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}

h2 {
    margin: 1.5em 0 1.5em 0 !important;
}

h3 {
    margin: 1.3em 0 1.3em 0 !important;
}

h4 {
    margin: 1.2em 0 1.2em 0 !important;
}

.logo {
    text-align: center;
    margin: 3.5em 0 0 0 !important;
    max-width: 250px;
}


@media (min-width: 300px) {
    .inner-margin {
    }
}

@media (min-width: 576px) {
    .inner-margin {
        margin-left: 2em !important;
    }
}

@media (min-width: 768px) {
    .inner-margin {
        margin-left: 4em !important;
    }
}

@media (min-width: 992px) {
    .inner-margin {
        margin-left: 6em !important;
    }
}

.navbar-link {
    font-size: 21px;
    color: #fefefe !important;
}

.navbar-text {
    font-weight: bold;
    font-size: 21px;
    color: #fefefe !important;
}
