{%- extends 'base.html' -%}
{%- block title -%}home{% endblock %}
{%- block content -%}

<div class="row">
    <div class="col">
        <div class="row">

             <h2>Bring your art!</h2>

             <p>
                The openLLUM Festival is a new, inclusive light art event that complements the renowned Barcelona LLUM Festival. Unlike its counterpart, which is exclusive to university students and mostly leaves out independent artists, openLLUM provides a platform for anyone with a passion for light art to showcase their creations. This grassroots festival welcomes artists of all levels to bring their light installations to the streets, celebrating creativity and the power of illumination in an open and accessible environment.
             </p>

             <h3>Core Principles</h3>
             <ul>
                 <li><b>Exclusivity</b>: openLLUM is open to all artists, offering a platform that is free from restrictive entry requirements and welcoming creativity from all backgrounds.</li>
                 <li><b>Independence</b>: We support and celebrate independent artists, encouraging them to bring their own vision to life. Artists are responsible for providing and managing all the materials and equipment needed for their artwork, ensuring full creative autonomy, whether their pieces are static or mobile.</li>
                 <li><b>Cooperation</b>: We believe in the power of collaboration and encourage artists, local communities, and organizations to work together in making the festival a success.</a></li>
                 <li><b>Safety</b>: Ensuring a safe environment for both artists and visitors is a top priority. Artists are responsible for ensuring that their artwork is safe for everyone, taking all necessary precautions to avoid potential hazards.</li>
            </ul>

            <h3>Contact us</h3>
            <p>
                <img src="/static/img/bluesky.svg" style="max-width: 150px">
                <a href="https://bsky.app/profile/openllum.bsky.social">openLLUM</a>
            </p>
            <p>
                <img src="/static/img/instagram.png" style="max-width: 150px">
                <a href="https://www.instagram.com/openllum">openLLUM</a>
            </p>

        </div>
    </div>
</div>

{% endblock%}

{% block scripts %}
{% endblock %}
