{%- extends 'base.html' -%}
{%- block title -%}home{% endblock %}
{%- block content -%}

<h2>¡Trae tu arte!</h2>

<p>
    El Festival openLLUM es un nuevo evento inclusivo de arte lumínico que complementa el renombrado Festival Barcelona Llum. A diferencia de su contraparte, que es exclusivo para estudiantes universitarios y en su mayoría deja fuera a los artistas independientes, openLLUM ofrece una plataforma para que cualquier persona con pasión por el arte lumínico muestre sus creaciones. Este festival de base acoge a artistas de todos los niveles para llevar sus instalaciones de luz a las calles, celebrando la creatividad y el poder de la iluminación en un entorno abierto y accesible.
</p>

<h3>Principios Fundamentales</h3>
<ul>
     <li><b>Inclusividad</b>: openLLUM está abierto a todos los artistas, ofreciendo una plataforma libre de requisitos restrictivos y dando la bienvenida a la creatividad de todos los orígenes.</li>
     <li><b>Independencia</b>: Apoyamos y celebramos a los artistas independientes, animándolos a dar vida a su propia visión. Los artistas son responsables de proporcionar y gestionar todos los materiales y equipos necesarios para su obra, garantizando una plena autonomía creativa, ya sea que sus piezas sean estáticas o móviles.</li>
     <li><b>Cooperación</b>: Creemos en el poder de la colaboración e impulsamos a los artistas, las comunidades locales y las organizaciones a trabajar juntos para hacer del festival un éxito.</li>
     <li><b>Seguridad</b>: Garantizar un ambiente seguro tanto para los artistas como para los visitantes es una prioridad. Los artistas son responsables de garantizar que su obra sea segura para todos, tomando todas las precauciones necesarias para evitar posibles peligros.</li>
</ul>

<h3>Contáctanos</h3>
<div class="row mb-3 text-center" id="contact-logos">
  <div class="col">
    <p>
      Instagram
    </p>
    <a href="https://www.instagram.com/openllum">
      <div class="col">
        <img src="/static/img/instagram.png" style="max-width: 95px" alt="instagram icon">
      </div>
      <div class="col">
        openLLUM
      </div>
    </a>
  </div>
  <div class="col">
    <p>
      Bluesky
    </p>
    <a href="https://bsky.app/profile/openllum.bsky.social">
    <div class="col">
      <img src="/static/img/bluesky.svg" style="max-width: 100px" alt="bluesky icon">
    </div>
    <div class="col">
      openllum.bsky.social
    </div>
    </a>
  </div>
</div>

{% endblock%}

{% block scripts %}
{% endblock %}
