{%- extends 'base.html' -%}
{%- block title -%}home{% endblock %}
{%- block content -%}

<div class="row">
    <div class="col">
        <div class="row">

            
             <h2>Porta el teu art!</h2>

             <p>
                El Festival openLLUM és un nou esdeveniment inclusiu d'art lumínic que complementa el renom Festival Barcelona Llum. A diferència de la seva contraparte, que és exclusiu per a estudiants universitaris i que majoritàriament deixa fora els artistes independents, openLLUM ofereix una plataforma perquè qualsevol persona amb passió per l'art lumínic mostri les seves creacions. Aquest festival de base acull artistes de tots els nivells per portar les seves instal·lacions de llum als carrers, celebrant la creativitat i el poder de la il·luminació en un entorn obert i accessible.
             </p>

             <h3>Principis Fonamentals</h3>
             <ul>
                 <li><b>Exclusivitat</b>: openLLUM està obert a tots els artistes, oferint una plataforma lliure de requisits restrictius i donant la benvinguda a la creativitat de tots els orígens.</li>
                 <li><b>Independència</b>: Donem suport i celebrem els artistes independents, animant-los a donar vida a la seva pròpia visió. Els artistes són responsables de proporcionar i gestionar tots els materials i equipament necessaris per a la seva obra, garantint una plena autonomia creativa, ja sigui que les seves peces siguin estàtiques o mòbils.</li>
                 <li><b>Cooperació</b>: Creiem en el poder de la col·laboració i animem els artistes, les comunitats locals i les organitzacions a treballar junts per fer de l'esdeveniment un èxit.</li>
                 <li><b>Seguretat</b>: Garantir un ambient segur tant per als artistes com per als visitants és una prioritat. Els artistes són responsables de garantir que la seva obra sigui segura per a tothom, prenent totes les precaucions necessàries per evitar possibles perills.</li>
            </ul>

            <h3>Contacta'ns</h3>
            <p>
                <img src="/static/img/bluesky.svg" style="max-width: 150px">
                <a href="https://bsky.app/profile/openllum.bsky.social">openLLUM</a>
            </p>
            <p>
                <img src="/static/img/instagram.png" style="max-width: 150px">
                <a href="https://www.instagram.com/openllum">openLLUM</a>
            </p>

        </div>
    </div>
</div>

{% endblock%}

{% block scripts %}
{% endblock %}
